schema/schemas/fns/commons/fns-snilspfr-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by VI (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fns="urn://x-artefacts-fns-snilspfr/types/4.0.2" targetNamespace="urn://x-artefacts-fns-snilspfr/types/4.0.2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="IDRequestType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GUID">
		<xs:annotation>
			<xs:documentation>Глобально уникальный идентификатор (GUID), ровно 36 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PhysicalPersonNameSType">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество физического лица (с признаком отсутствия)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="FamilyName" type="fns:string-60">
					<xs:annotation>
						<xs:documentation>Фамилия</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SignFamilyName">
					<xs:annotation>
						<xs:documentation>Признак отсутствия фамилии</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="fns:string-1">
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:element name="FirstName" type="fns:string-60">
					<xs:annotation>
						<xs:documentation>Имя</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SignFirstName">
					<xs:annotation>
						<xs:documentation>Признак отсутствия имени</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="fns:string-1">
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:element name="Patronymic" type="fns:string-60">
					<xs:annotation>
						<xs:documentation>Отчество</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SignPatronymic">
					<xs:annotation>
						<xs:documentation>Признак отсутствия отчества</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="fns:string-1">
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PhysicalPersonINNType">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IdentityDocumentType">
		<xs:annotation>
			<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DocumentCode" type="fns:SPDULType" use="required">
			<xs:annotation>
				<xs:documentation>Код вида документа (при наличии)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SeriesNumber" type="fns:SPDULTemplateType" use="required">
			<xs:annotation>
				<xs:documentation>Серия и номер</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Issuer" type="fns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Кем выдан</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IssuerCode" type="fns:string-7" use="optional">
			<xs:annotation>
				<xs:documentation>Код подразделения  (при наличии)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IssuerDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Дата выдачи (при наличии)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="OKCMType">
		<xs:annotation>
			<xs:documentation>Код Общероссийского классификатора стран мира (3-разрядный, цифровой)</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SPDULTemplateType">
		<xs:annotation>
			<xs:documentation>Шаблон серии, номера из Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SPDULType">
		<xs:annotation>
			<xs:documentation>Код Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SNILSType">
		<xs:annotation>
			<xs:documentation>СНИЛС (14 знаков)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:pattern value="\d{3}-\d{3}-\d{3} \d{2}"/>
			<xs:pattern value="\d{3}-\d{3}-\d{3}-\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-1">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из 1 цифры</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="\d{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-20">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из двадцати цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="\d{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-11">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из одиннадцати цифр. Например номер записи</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-6">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из 6 цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-4">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из четырёх цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-3">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из 3 цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-2">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из 2 цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-14_2">
		<xs:annotation>
			<xs:documentation>Число десятичноеое, содержащее до 14 разрядов, два после запятой</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-12">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 12 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-9">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 9 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-3">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 3 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-2">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 2 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-1">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее 1 разряд</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-1000">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 1000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-255">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 255 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-100">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 100 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-60">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 60 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-50">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 50 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-36">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 36 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-25">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 25 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-20">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 20 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-12">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 12 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-10">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 10 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-7">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 7 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-5">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 5 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-3">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 3 символа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-2">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 2 символа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-1">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 1 символ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
