schema/10.29.O-2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://egisso-ru/msg/10.29.O/2.0.0" xmlns:fnst="urn://egisso-ru/types/death-reg/2.0.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" targetNamespace="urn://egisso-ru/msg/10.29.O/2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn://egisso-ru/types/death-reg/2.0.0" schemaLocation="./schemas/egisso/death-reg-2.0.0.xsd"/>
	<xs:element name="FATALRequest">
		<xs:annotation>
			<xs:documentation>Сведения о записях актов о смерти</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СведРегСмерт" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения о государственной регистрации смерти</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ИнцНом" type="fnst:string-50" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Номер инцидента</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:choice>
								<xs:element name="ДатаЗаписДок" type="fnst:ДатаДокТип">
									<xs:annotation>
										<xs:documentation>Дата регистрации записи по представленным документам (неполная дата)</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ДатаЗапис" type="xs:date">
									<xs:annotation>
										<xs:documentation>Дата составления актовой записи о смерти/внесения сведений о документе иностранного государства в ЕГР ЗАГС</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:choice>
							<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
								<xs:annotation>
									<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация смерти/ внесены сведения о документе иностранного государства в ЕГР ЗАГС</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СведСвидет" type="fnst:СведСвидетТип" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения о выданном Свидетельстве о смерти</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ПрдСведРег">
								<xs:annotation>
									<xs:documentation>Передаваемые сведения о государственной регистрации смерти</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<xs:element name="ПрПол">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о половой принадлежности умершего   </xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="Пол">
												<xs:annotation>
													<xs:documentation>Пол</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
														<xs:enumeration value="2"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:choice>
										<xs:choice>
											<xs:element name="ПрГражданство" type="fnst:string-1">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о гражданстве</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ГраждТекст" type="fnst:string-255">
												<xs:annotation>
													<xs:documentation>Наименование страны гражданства (Не справочное значение)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ГраждОКСМ" type="fnst:ОКСМТип">
												<xs:annotation>
													<xs:documentation>Код страны гражданства (по Справочнику ОКСМ)</xs:documentation>
													<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
													<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">ОКСМ</xs:appinfo>
													<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Цифровой код</xs:appinfo>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="ФИОУмер" type="fnst:ФИОПрТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество умершего</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="ПрДатаРожд">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о дате рождения умершего</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ДатаРождКаленд" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ДатаРождДок" type="fnst:ДатаДокТип">
												<xs:annotation>
													<xs:documentation>Дата рождения по представленным документам</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:choice>
											<xs:element name="ПрМестоРожден">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о месте рождения умершего</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="МестоРожден" type="fnst:МестоТип">
												<xs:annotation>
													<xs:documentation>Место рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:choice>
											<xs:element name="ПрМЖПосл">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о последнем месте жительства</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="МЖПосл" type="fnst:АдрМЖТип">
												<xs:annotation>
													<!---************************************************************************************************************************************************************-->
													<xs:appinfo>
														<sch:pattern name="Проверка присутствия (отсутствия) элемента МуниципРайон в зависимости от значения элемента Регион">
															<sch:rule context="*[local-name()='АдрМО']">
																<sch:assert test="usch:iif(*[local-name()='Регион']!=99, count(*[local-name()='МуниципРайон'])!=0, count(*[local-name()='МуниципРайон'])!=0 or count(*[local-name()='МуниципРайон'])=0)">
																	<usch:error code="0400300003" path="count(МуниципРайон)" value-of-select="Регион">Не выполнено условие присутствия (отсутствия) элемента МуниципРайон при значении элемента Регион, равном "<usch:value-of select="Регион"/>" </usch:error>
																</sch:assert>
															</sch:rule>
														</sch:pattern>
													</xs:appinfo>
													<!---*************************************************************************************************************************************************************-->
													<xs:documentation>Последнее место жительства</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:choice>
											<xs:element name="ПрУдЛичнФЛ">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о документе, удостоверяющем личность</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнФЛПрТип">
												<xs:annotation>
													<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:choice>
											<xs:element name="ПрДатаСмерт">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о дате смерти умершего</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ДатаСмертКаленд" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата смерти (календарная дата)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ДатаСмертДок" type="fnst:ДатаДокТип">
												<xs:annotation>
													<xs:documentation>Дата смерти по представленным документам</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:choice>
											<xs:element name="ПрВремяСмерт">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о времени смерти умершего</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ВремяСмерт" type="xs:time">
												<xs:annotation>
													<xs:documentation>Время смерти</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:choice>
											<xs:element name="ПрМестоСмерт">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о месте смерти умершего</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="МестоСмерт" type="fnst:МестоТип">
												<xs:annotation>
													<xs:documentation>Место смерти</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
									</xs:sequence>
									<xs:attribute name="ПрНеустанЛицо" use="optional">
										<xs:annotation>
											<xs:documentation>Признак умершего лица, личность которого не установлена</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="fnst:digits-1">
												<xs:enumeration value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СНИЛС" type="fnst:СНИЛСТип">
										<xs:annotation>
											<xs:documentation>СНИЛС</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ИдЕРН">
										<xs:annotation>
											<xs:documentation>Уникальный идентификатор физического лица в системе ЕРН</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="СведИспрАГС" type="fnst:СведИзмАГСТип" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения о внесенных исправлениях и изменениях в запись акта о смерти/ сведения о документе иностранного государства</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СведВосстанАГС" type="fnst:СведИзмАГСТип" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о восстановлении записи акта о смерти/ сведений о документе иностранного государства</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СведАннулирАГС" type="fnst:СведИзмАГСТип" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения об аннулировании записи акта о смерти/ сведений о документе иностранного государства</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СведЕГРРазд2" type="fnst:СведЕГРРазд2Тип" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о внесении в ЕГР ЗАГС сведений о документе компетентного органа иностранного государства (Раздел 2)</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="РазделЕГР" use="required">
							<xs:annotation>
								<xs:documentation>Раздел ЕГР ЗАГС, в котором содержатся сведения о регистрации акта гражданского состояния</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="fnst:string-1">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="НомерЗаписЕГР" type="fnst:string-21" use="required">
							<xs:annotation>
								<xs:documentation>Номер актовой записи/сведений о документе иностранного государства о смерти, содержащийся в ЕГР ЗАГС</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="НомАГССвид" type="fnst:string-10">
							<xs:annotation>
								<xs:documentation>Номер актовой записи, зарегистрированной до 01.10.2018, указанный в свидетельстве о смерти</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ДатаВерс" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation>Дата версии записи/сведений о документе иностранного государства в ЕГР ЗАГС</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="НомерВерс" type="fnst:string-1_3" use="required">
							<xs:annotation>
								<xs:documentation>Номер версии записи/сведений о документе иностранного государства в ЕГР ЗАГС</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="КодСостСтат" type="fnst:string-4" use="required">
							<xs:annotation>
								<xs:documentation>Код состояния и статуса актовой записи о смерти/ сведений о документе иностранного государства по справочнику СОСТАГС</xs:documentation>
								<xs:documentation>Принимает значение кода по Справочнику состояния и статуса записи акта гражданского состояния (СОСТАГС)</xs:documentation>
								<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
								<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СОСТАГС</xs:appinfo>
								<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код состояния и статуса АГС</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдСвед" type="fnst:ИдЗапросТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор сведений, сформированный поставщиком</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ДатаСвед" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation>Дата, на которую сформированы сведения</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
