schema/schemas/egisso/assignment-fact-1.0.8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:egisso="urn://egisso-ru/types/basic/1.0.8" xmlns:smev="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" xmlns:prsn="urn://egisso-ru/types/prsn-info/1.0.4" xmlns:basis="urn://egisso-ru/types/prsn-basis/1.0.2" xmlns="urn://egisso-ru/types/assignment-fact/1.0.8" targetNamespace="urn://egisso-ru/types/assignment-fact/1.0.8" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--
  ****************************************************************************************************
  Тип данных: факт назначения МСЗ
  ****************************************************************************************************
  -->
	<xsd:import namespace="urn://egisso-ru/types/basic/1.0.8" schemaLocation="egisso-basic-types-1.0.8.xsd"/>
	<xsd:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" schemaLocation="../smev3/smev-supplementary-commons-1.0.1.xsd"/>
	<xsd:import namespace="urn://egisso-ru/types/prsn-info/1.0.4" schemaLocation="prsn-info-1.0.4.xsd"/>
	<xsd:import namespace="urn://egisso-ru/types/prsn-basis/1.0.2" schemaLocation="prsn-basis-1.0.2.xsd"/>
	<xsd:element name="fact" type="tFactAssignment">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">
        Факт назначения МСЗ
      </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="tFactAssignment">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">
        Тип данных: факт назначения МСЗ
      </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="oszCode" type="egisso:tParticipantCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Код ОСЗ, осуществившего назначение
          </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mszReceiver" type="prsn:tPersonInfo">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Получатель МСЗ
          </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reasonPersons" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Сведения о лицах, являющихся основанием для назначения меры
          </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="basis:basisPerson" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
                  Лицо, являющееся основанием для назначения МСЗ
                </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="lmszId" type="egisso:UUID">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Идентификатор назначенной МСЗ
          </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lmszProviderCode" type="egisso:tParticipantCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Код поставщика (указывается, если ЛМСЗ была загружена не текущим поставщиком данных)
          </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="categoryId" type="egisso:UUID">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Идентификатор локальной категории получателей МСЗ
          </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="decisionDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Дата принятия решения о назначении
          </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateStart" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Дата начала действия назначения
          </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateFinish" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Дата окончания действия назначения
          </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documents" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Документы, дающие право на назначение МСЗ
          </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="document" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
                  Документ
                </xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="title" type="smev:string-500">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Наименование документа
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="series" type="smev:string-20" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Серия
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="number" type="smev:string-20" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Номер
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="issueDate" type="xsd:date">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Дата выдачи
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="authority" type="smev:string-500">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Кем выдан
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="startDate" type="xsd:date">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Дата начала действия документа
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="finishDate" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Дата окончания действия документа
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="needsCriteria">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Сведения об использовании критериев нуждаемости при назначении МСЗ
          </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usingSign" type="xsd:boolean">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
                  Признак использования критериев нуждаемости при назначении МСЗ
                </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="needsCriteria" type="tNeedsCriteria" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
                  Критерии нуждаемости
                </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="assignmentInfo">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Сведения о назначении
          </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="monetaryForm">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
                  Специфические сведения о фактах назначения по денежной форме предоставления
                </xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="amount" type="egisso:tMoney">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Сумма
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="naturalForm">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
                  Специфические сведения о фактах назначения по натуральной форме предоставления
                </xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="amount" type="xsd:decimal">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Количество
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:choice>
										<xsd:element name="measuryCode" type="smev:digits-2">
											<xsd:annotation>
												<xsd:documentation xml:lang="ru">
                          Код единицы измерения по справочнику ЕГИССО
                        </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="okeiCode" type="egisso:tOKEICode">
											<xsd:annotation>
												<xsd:documentation xml:lang="ru">
                          Код единицы измерения по ОКЕИ
                        </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:choice>
									<xsd:element name="content" type="smev:string-200" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Содержание
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="comment" type="smev:string-200" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Комментарий
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="equivalentAmount" type="xsd:decimal">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Сумма в рублях, которую планируется затратить на предоставление конкретному получателю натуральной помощи, услуги, льготы
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="exemptionForm">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
                  Специфические сведения о фактах назначения по форме предоставления «льгота»
                </xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="amount" type="xsd:decimal">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Размер
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:choice>
										<xsd:element name="measuryCode" type="smev:digits-2">
											<xsd:annotation>
												<xsd:documentation xml:lang="ru">
                          Код единицы измерения
                        </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="okeiCode" type="egisso:tOKEICode">
											<xsd:annotation>
												<xsd:documentation xml:lang="ru">
                          Код единицы измерения по ОКЕИ
                        </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:choice>
									<xsd:element name="monetization" type="xsd:boolean">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Признак монетизации
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="comment" type="smev:string-200" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Комментарий
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="equivalentAmount" type="xsd:decimal">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Сумма в рублях, которую планируется затратить на предоставление конкретному получателю натуральной помощи, услуги, льготы
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="serviceForm">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
                  Специфические сведения о фактах назначения по форме предоставления «услуга»
                </xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="amount" type="xsd:decimal">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Количество
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:choice>
										<xsd:element name="measuryCode" type="smev:digits-2">
											<xsd:annotation>
												<xsd:documentation xml:lang="ru">
                          Код единицы измерения
                        </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="OKEICode" type="egisso:tOKEICode">
											<xsd:annotation>
												<xsd:documentation xml:lang="ru">
                          Код единицы измерения по ОКЕИ
                        </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:choice>
									<xsd:element name="content" type="smev:string-200" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Содержание
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="comment" type="smev:string-200" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Комментарий
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="equivalentAmount" type="xsd:decimal">
										<xsd:annotation>
											<xsd:documentation xml:lang="ru">
                        Сумма в рублях, которую планируется затратить на предоставление конкретному получателю натуральной помощи, услуги, льготы
                      </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tNeedsCriteria">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">
        Тип данных: критерий нуждаемости
      </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="needsCriteriaCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Код критерия нуждаемости
          </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="\d{1,10}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
