schema/schemas/egisso/childneedhouse-right-1.0.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:egisso="urn://egisso-ru/types/basic/1.0.6"
    xmlns:smev="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1"
    xmlns="urn://egisso-ru/types/childneedhouse-right/1.0.1"
    targetNamespace="urn://egisso-ru/types/childneedhouse-right/1.0.1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
>

  <!--
  ****************************************************************************************************
  Тип данных:
  - право на меру о льготном предоставлении жилья
  - исключение права на меру о льготном предоставлении жилья
  ****************************************************************************************************
  -->

  <xsd:import namespace="urn://egisso-ru/types/basic/1.0.6" schemaLocation="egisso-basic-types-1.0.6.xsd"/>
  <xsd:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1"
              schemaLocation="../smev3/smev-supplementary-commons-1.0.1.xsd"/>

  <xsd:complexType name="tChildNeedHouse">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: право на меру о льготном предоставлении жилья
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="uuid" type="egisso:UUID">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Идентификатор права
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="codeMSZ" type="smev:digits-4">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код типовой МСЗ из КМСЗ
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="categoryMSZ">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код типовой категории получателя из КМСЗ
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{8}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="snils" type="smev:SNILSType">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            СНИЛС ФЛ
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lastName" type="smev:rus-100">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Фамилия
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="firstName" type="smev:rus-100">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Имя
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="middleName" type="smev:rus-100" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Отчество
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="birthDay" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата рождения
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="registryDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата включения в список
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reasonCode" type="smev:digits-2">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код основания из справочника оснований
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="snilsRepresent" type="smev:SNILSType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            СНИЛС законного представителя
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="codeOrg" type="egisso:tParticipantCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Орган, принявший решение о включении в список (Код поставщика информации).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="applicationMethod" type="smev:digits-2" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код способа подачи из справочника способов подачи
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="act" type="tSimpleDoc" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Реквизиты акта о включении в список (дата и номер)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="firstActionDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата первичного включения в список
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reasonDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата наступления основания предоставления лицу, включенному в список, жилого помещения
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="npa18yo" type="tDoc" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Основание предоставления жилого помещения до достижения возраста 18 лет
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assignmentRightUuid" type="egisso:UUID" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Идентификатор предыдущей модифицируемой записи о праве
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assignmentRightProviderCode" type="egisso:tParticipantCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код поставщика (указывается, если модифицируемая запись была загружена не текущим поставщиком данных)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lastChanging" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата последнего изменения
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tExclusionChildNeedHouse">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: исключение права на меру о льготном предоставлении жилья
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="uuid" type="egisso:UUID">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Идентификатор события
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exclusionDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата исключения из списка
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reasonCode" type="smev:digits-2">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код основания из справочника оснований
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reasonData" type="tDoc" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Реквизиты, документа, выбранного в качестве основания
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="codeOrg" type="egisso:tParticipantCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Орган, принявший решение об исключении из списка (Код поставщика информации).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="applicationMethod" type="smev:digits-2" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код способа подачи из справочника способов подачи
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="act" type="tSimpleDoc" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Реквизиты акта об исключении из списка (дата и номер)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assignmentRightUuid" type="egisso:UUID">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Идентификатор предыдущей модифицируемой записи о праве
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assignmentRightProviderCode" type="egisso:tParticipantCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код поставщика (указывается, если модифицируемая запись была загружена не текущим поставщиком данных)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lastChanging" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата последнего изменения
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tSimpleDoc">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: Документ (дата и номер)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="docNumber" type="smev:string-200" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Номер документа
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="docDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата документа
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tDoc">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: Документ (наменование, дата и номер)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="docName" type="smev:string-200" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Наименование документа
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="docNumber" type="smev:string-200" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Номер документа
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="docDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата документа
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
