schema/schemas/egisso/childneedhouse-right-2.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:egisso="urn://egisso-ru/types/basic/2.1.0"
            xmlns="urn://egisso-ru/types/childneedhouse-right/2.0.0"
            targetNamespace="urn://egisso-ru/types/childneedhouse-right/2.0.0" elementFormDefault="qualified"
            attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation xml:lang="ru">Тип данных: право на меру о льготном предоставлении жилья и исключение права на
      меру о льготном предоставлении жилья
    </xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="urn://egisso-ru/types/basic/2.1.0" schemaLocation="egisso-basic-types-2.1.0.xsd"/>
  <xsd:complexType name="tChildNeedHouse">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: право на меру о льготном предоставлении жилья</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="uuid" type="egisso:tUuid">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Идентификатор права</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="codeMSZ" type="egisso:digits-4">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код типовой МСЗ из КМСЗ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="categoryMSZ">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код типовой категории получателя из КМСЗ</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{8}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="physicalPerson" type="egisso:tPhysicalPersonWithNameAndBirthDate">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Данные физического лица</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="personAddresses" type="egisso:tRegistrationAndFactAddresses" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Адреса физического лица</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="personApplication" type="tSimpleDoc" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Заявление физического лица о включении в список</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="registryDate" type="egisso:tDate">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата включения в список</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reasonCode" type="egisso:digits-2">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код основания из справочника оснований</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="representPerson" type="egisso:tPhysicalPersonSnilsOnly" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Законный представитель</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="codeOrg" type="egisso:tParticipantCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Орган, принявший решение о включении в список (Код поставщика информации).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="applicationMethod" type="egisso:digits-2" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код способа подачи из справочника способов подачи</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="act" type="tSimpleDoc" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Реквизиты акта о включении в список (дата и номер)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="firstActionDate" type="egisso:tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата первичного включения в список</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reasonDate" type="egisso:tDate">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата наступления основания предоставления лицу, включенному в список
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="npa18yo" type="tDocWithType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Основание предоставления жилого помещения до достижения возраста 18 лет
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="additionalDocument" type="tDocWithType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дополнительный документ-основание включения в список</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="deferredDocument" type="tDocWithType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Документ, фиксирующий отсроченную дату обеспечения жильем</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="deferredDate" type="egisso:tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Отсроченная дата обеспечения жилым помещением</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="earlyDate" type="egisso:tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Досрочная дата обеспечения жилым помещением</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assignmentRightUuid" type="egisso:tUuid" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Идентификатор предыдущей модифицируемой записи о праве</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assignmentRightProviderCode" type="egisso:tParticipantCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код поставщика (указывается, если модифицируемая запись была загружена не
            текущим поставщиком данных)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lastChanging" type="egisso:tDate">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата последнего изменения</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tExclusionChildNeedHouse">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: исключение права на меру о льготном предоставлении жилья
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="uuid" type="egisso:tUuid">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Идентификатор события</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exclusionDate" type="egisso:tDate">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата исключения из списка</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reasonCode" type="egisso:digits-2">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код основания из справочника оснований</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reasonData" type="tDoc" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Реквизиты, документа, выбранного в качестве основания</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="codeOrg" type="egisso:tParticipantCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Орган, принявший решение об исключении из списка (Код поставщика
            информации).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="applicationMethod" type="egisso:digits-2" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код способа подачи из справочника способов подачи</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="act" type="tSimpleDoc" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Реквизиты акта об исключении из списка (дата и номер)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assignmentRightUuid" type="egisso:tUuid">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Идентификатор предыдущей модифицируемой записи о праве</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assignmentRightProviderCode" type="egisso:tParticipantCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код поставщика (указывается, если модифицируемая запись была загружена не
            текущим поставщиком данных)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lastChanging" type="egisso:tDate">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата последнего изменения</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tSimpleDoc">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Документ (дата и номер)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="date" type="egisso:tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Дата документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="number" type="egisso:string-200" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Номер документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tDoc">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Документ (наименование, дата и номер)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="date" type="egisso:tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Дата документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="number" type="egisso:string-200" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Номер документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="egisso:string-500" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Наименование вида документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tDocWithType">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Документ (тип, наименование, дата и номер)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="date" type="egisso:tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Дата документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="number" type="egisso:string-200" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Номер документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="codeType" type="egisso:tDocumentTypeCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Код вида документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="egisso:string-500" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Наименование вида документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="issuer" type="egisso:string-500" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Наименование организации (органа) выпустившего документ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
