schema/schemas/egisso/egisso-basic-types-2.2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:smev="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.2" xmlns="urn://egisso-ru/types/basic/2.2.0" targetNamespace="urn://egisso-ru/types/basic/2.2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation xml:lang="ru">Базовые типы ЕГИССО</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.2" schemaLocation="../commons/smev-supplementary-commons-1.2.xsd"/>
  <!--========================================== Типы данных физического лица  ==========================================-->
  <xsd:complexType name="tPhysicalPersonWithoutBirthPlace">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип физического лица со всеми обязательными данными кроме места рождения</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tPhysicalPersonData">
        <xsd:sequence>
          <xsd:element name="snils" type="smev:SNILSType">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Страховой номер индивидуального лицевого счёта</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fio" type="tFio">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">ФИО</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="gender" type="tGender">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Пол</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="birthDate" type="tDate">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата рождения</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="citizenshipCode" type="tOksmCode">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Код страны гражданства</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="tPhysicalPersonWithNameAndBirthDate">
    <xsd:annotation>
      <xsd:documentation>Тип физического лица со СНИЛС, ФИО и датой рождения</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tPhysicalPersonData">
        <xsd:sequence>
          <xsd:element name="snils" type="smev:SNILSType">
            <xsd:annotation>
              <xsd:documentation>Страховой номер индивидуального лицевого счёта</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fio" type="tFio">
            <xsd:annotation>
              <xsd:documentation>ФИО</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="birthDate" type="tDate">
            <xsd:annotation>
              <xsd:documentation>Дата рождения</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="tPhysicalPersonWithName">
    <xsd:annotation>
      <xsd:documentation>Тип физического лица со СНИЛС и ФИО</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tPhysicalPersonData">
        <xsd:sequence>
          <xsd:element name="snils" type="smev:SNILSType">
            <xsd:annotation>
              <xsd:documentation>Страховой номер индивидуального лицевого счёта</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fio" type="tFio">
            <xsd:annotation>
              <xsd:documentation>ФИО</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="tPhysicalPersonSnilsOnly">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип физического лица только со СНИЛС</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tPhysicalPersonData">
        <xsd:sequence>
          <xsd:element name="snils" type="smev:SNILSType">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Страховой номер индивидуального лицевого счёта</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!--========================================== Типы, используемые в данных физического лица  ==========================================-->
  <xsd:complexType name="tPhysicalPersonData">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Данные, используемые в типах физического лица</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="snils" type="smev:SNILSType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Страховой номер индивидуального лицевого счёта</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fio" type="tFio" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">ФИО</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gender" type="tGender" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Пол</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="birthDate" type="tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата рождения</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="birthPlace" type="tAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Место рождения</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="citizenshipCode" type="tOksmCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код страны гражданства</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tFio">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Фамилия, имя и отчество</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="surname" type="string-100">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Фамилия</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="patronymic" type="string-100" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Отчество</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="forename" type="string-100">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Имя</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="tGender">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Пол</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="string-1">
      <xsd:pattern value="[MFU]"/>
      <xsd:enumeration value="M">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Мужской пол</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="F">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Женский пол</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="U">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Пол не определен</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tDefinedGender">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Идентифицированный пол</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="string-1">
      <xsd:pattern value="[MF]"/>
      <xsd:enumeration value="M">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Мужской пол</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="F">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Женский пол</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tSnils-9">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">СНИЛС (9-ти разрядный) без контрольной суммы</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="9"/>
      <xsd:pattern value="\d{9}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--========================================== Типы данных юридического лица  ==========================================-->
  <xsd:complexType name="tLegalPersonOrSoleProprietor">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип юридического лица (ЮЛ) или индивидуального предпринимателя (ИП) со всеми обязательными данными</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="legalPerson" type="tLegalPerson">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Юридическое лицо (ЮЛ)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="soleProprietor" type="tSoleProprietor">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Индивидуальный предприниматель (ИП)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="tLegalPerson">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип юридического лица со всеми обязательными данными</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tLegalPersonData">
        <xsd:sequence>
          <xsd:element name="name" type="string-1000">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Наименование</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="inn" type="smev:LegalPersonINNType">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">ИНН</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="kpp" type="smev:KPPType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">КПП</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ogrn" type="smev:OGRNCompanyType">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">ОГРН</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="tSoleProprietor">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип индивидуального предпринимателя (ИП) со всеми обязательными данными</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tSoleProprietorData">
        <xsd:sequence>
          <xsd:element name="name" type="string-1000">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Наименование</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="inn" type="smev:PhysicalPersonINNType">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">ИНН</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ogrn" type="smev:OGRNSoleProprietorType">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">ОГРН</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="tLegalPersonIdCodesOnly">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип юридического лица только с идентификационными кодами</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tLegalPersonData">
        <xsd:sequence>
          <xsd:element name="inn" type="smev:LegalPersonINNType">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">ИНН</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="kpp" type="smev:KPPType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">КПП</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ogrn" type="smev:OGRNCompanyType">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">ОГРН</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="tInfoProvider">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип поставщика информации</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tLegalPerson">
        <xsd:sequence>
          <xsd:element name="codeParticipant" type="tParticipantCode">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Код участника ЕГИССО</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!--========================================== Типы, используемые в данных юридического лица  ==========================================-->
  <xsd:complexType name="tLegalPersonData">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Данные, используемые в юридическом лице</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="string-1000" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Наименование</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inn" type="smev:LegalPersonINNType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">ИНН</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kpp" type="smev:KPPType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">КПП</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ogrn" type="smev:OGRNCompanyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">ОГРН</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tSoleProprietorData">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Данные, используемые для индивидуального предпринимателя (ИП)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="string-1000" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Наименование</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inn" type="smev:PhysicalPersonINNType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">ИНН</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ogrn" type="smev:OGRNSoleProprietorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">ОГРН</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!--==========================================  Адресные типы  ==========================================-->
  <xsd:complexType name="tAddress">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Выбор вида адреса</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="russianAddressNotResticted" type="tRussianAddressNotRestricted">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Российский адрес без ограничения заполнения элементов адреса</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="foreignAddress" type="tForeignAddress">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Иностранный адрес</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="tRussianAddressNotRestricted">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Российский адрес без ограничения заполнения элементов адреса</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tRussianAddressData">
        <xsd:sequence>
          <xsd:element name="garAddressObjectGuid" type="tUuid" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Глобальный уникальный идентификационный код адресного объекта в Государственном адресном реестре (ФИАС)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="postIndex" type="tRussianPostIndex" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Почтовый индекс</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fullAddress" type="string-2000" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Полный адрес строкой</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="structuredElements" type="tAddressStructuredElements" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Структурированные элементы адреса</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="oktmoCode" type="tOktmoCode" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Код ОКТМО</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="tRegistrationAndFactAddresses">
    <xsd:annotation>
      <xsd:documentation>Тип адресов регистрации по месту жительства и пребывания, фактического адреса пребывания</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="residenceRegistrationAddress" type="tAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Адрес регистрации по месту жительства</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="temporaryRegistrationAddress" type="tAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Адрес регистрации по месту пребывания</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="factAddress" type="tAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Адрес фактического проживания или пребывания</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tLegalAndFactAddresses">
    <xsd:annotation>
      <xsd:documentation>Тип юридического и фактического адресов юридических лиц</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="legalAddress" type="tAddress">
        <xsd:annotation>
          <xsd:documentation>Юридический адрес</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="factAddress" type="tAddress">
        <xsd:annotation>
          <xsd:documentation>Фактический адрес</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tForeignAddress">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Иностранный адрес</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="postIndex" type="string-10" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Почтовый индекс (код)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fullAddress" type="string-2000" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Полный адрес строкой</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="countryCode" type="tOksmCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код страны по ОКСМ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="address" type="tAddressStructuredElements">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Структурированные элементы адреса</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tAddressWithType">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Выбор вида адреса с указанием кода типа адреса в ЕГИССО</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tAddress">
        <xsd:sequence>
          <xsd:element name="addressTypeCode" type="tAddressTypeCode">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Код типа адреса в ЕГИССО</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!--==========================================  Типы, используемые в адресных данных  ==========================================-->
  <xsd:complexType name="tRussianAddressData">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Данные, используемые в российском адресе</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="garAddressObjectGuid" type="tUuid" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Глобальный уникальный идентификационный код адресного объекта в Государственном адресном реестре (ФИАС)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="postIndex" type="tRussianPostIndex" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Почтовый индекс</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fullAddress" type="string-2000" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Полный адрес строкой</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="structuredElements" type="tAddressStructuredElements" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Структурированные элементы адреса</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oktmoCode" type="tOktmoCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код ОКТМО</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tAddressStructuredElements">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Структурированные элементы адреса</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="region" type="string-256" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Регион</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="district" type="string-256" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Район</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="city" type="string-256" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Наименование города</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cityArea" type="string-256" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Район города</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="locality" type="string-256" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Населенный пункт</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="street" type="string-256" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Улица</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="house" type="string-256" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дом</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="building" type="string-10" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Блок, здание, корпус</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="flat" type="string-10" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Квартира</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="tRussianPostIndex">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Российский почтовый индекс</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="digits-6"/>
  </xsd:simpleType>
  <xsd:simpleType name="tAddressTypeCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код типа адреса в ЕГИССО</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="digits-2"/>
  </xsd:simpleType>
  <xsd:simpleType name="tOktmoCode11">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код ОКТМО, включающий муниципальные образования и населенные пункты (11-разрядный, цифровой)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{11}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tOktmoCode8">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код ОКТМО, включающий только муниципальные образования (8-разрядный, цифровой)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="digits-8"/>
  </xsd:simpleType>
  <xsd:complexType name="tOktmoCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код ОКТМО</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="oktmoCode8" type="tOktmoCode8">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код ОКТМО, включающий только муниципальные образования (8-разрядный, цифровой)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oktmoCode11" type="tOktmoCode11">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код ОКТМО, включающий муниципальные образования и населенные пункты (11-разрядный, цифровой)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <!--==========================================  Типы документов  ==========================================-->
  <xsd:complexType name="tDefinedDocument">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Идентифицированный вид документа</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tDocumentData">
        <xsd:sequence>
          <xsd:element name="date" type="tDate">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="number" type="string-50" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Номер документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="codeType" type="tDocumentTypeCode">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Код вида документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="name" type="string-500" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Наименование вида документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="effectiveDate" type="tDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата вступления документа в силу</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="validityEndDate" type="tDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата окончания периода действия документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="series" type="string-20" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Серия документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="issuer" type="string-500">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Наименование организации (органа) выпустившего документ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="tDefinedDocumentWithEffectiveDate">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Идентифицированный вид документа с датой вступления в силу</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tDefinedDocument">
        <xsd:sequence>
          <xsd:element name="date" type="tDate">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="number" type="string-50" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Номер документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="codeType" type="tDocumentTypeCode">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Код вида документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="name" type="string-500" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Наименование вида документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="effectiveDate" type="tDate">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата вступления документа в силу</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="validityEndDate" type="tDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата окончания периода действия документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="series" type="string-20" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Серия документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="issuer" type="string-500">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Наименование организации (органа) выпустившего документ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="tUndefinedDocument">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Неидентифицированный вид документа</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tDefinedDocument">
        <xsd:sequence>
          <xsd:element name="date" type="tDate">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="number" type="string-50" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Номер документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="codeType" type="tDocumentTypeCode" fixed="00044">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Код вида документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="name" type="string-500">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Наименование вида документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="effectiveDate" type="tDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата вступления документа в силу</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="validityEndDate" type="tDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата окончания периода действия документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="series" type="string-20" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Серия документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="issuer" type="string-500">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Наименование организации (органа) выпустившего документ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="tUndefinedDocumentWithEffectiveDate">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Неидентифицированный вид документа с датой вступления в силу</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tUndefinedDocument">
        <xsd:sequence>
          <xsd:element name="date" type="tDate">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="number" type="string-50" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Номер документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="codeType" type="tDocumentTypeCode" fixed="00044">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Код вида документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="name" type="string-500">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Наименование вида документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="effectiveDate" type="tDate">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата вступления документа в силу</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="validityEndDate" type="tDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Дата окончания периода действия документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="series" type="string-20" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Серия документа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="issuer" type="string-500">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">Наименование организации (органа) выпустившего документ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="tIdentityDoc">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Документ, удостоверяющий личность</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="date" type="tDate">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата выдачи документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="number" type="string-50">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Номер документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="codeType" type="tDocumentTypeCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код вида документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="validityEndDate" type="tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата окончания периода действия документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="series" type="string-50" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Серия документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="issuer" type="string-500" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Наименование организации (органа) выпустившего документ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!--==========================================  Типы, используемые в типах документов  ==========================================-->
  <xsd:complexType name="tDocumentData">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных документа</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="date" type="tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="number" type="string-50" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Номер документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="codeType" type="tDocumentTypeCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код вида документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="string-500" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Наименование вида документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="effectiveDate" type="tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата вступления документа в силу</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="validityEndDate" type="tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата окончания периода действия документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="series" type="string-20" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Серия документа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="issuer" type="string-500">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Наименование организации (органа) выпустившего документ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="tDocumentTypeCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код вида документа в ЕГИССО</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="digits-5"/>
  </xsd:simpleType>
  <!--==========================================  Типы классификатора ЕГИССО  ==========================================-->
  <xsd:simpleType name="tClsCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код общесистемного классификатора/справочника</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="digits-3"/>
  </xsd:simpleType>
  <xsd:complexType name="tClsVersion">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Версия классификатора</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="versionNum" type="xsd:positiveInteger">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Номер версии</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="versionStatus" type="tVersionStatus">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Статус версии</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="startDate" type="tTimestamp">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата начала действия версии</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="finishDate" type="tTimestamp" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата окончания действия версии</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="document" type="string-200">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Документ-основание ввода в действие</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="note" type="string-200" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Комментарий</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="tVersionStatus">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код статуса версии общесистемного классификатора/справочника</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:positiveInteger"/>
  </xsd:simpleType>
  <xsd:simpleType name="tKinshipTypeCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код связи связанного лица</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="7"/>
      <xsd:pattern value="\d{7}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tKmszCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код по КМСЗ</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{4}\.\d{8}\.\d{2}\.\d{4}\.\d{2}\.\d{6}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="tPersonIdCodesOnly">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип выбора из физического или юридического лица только с данными идентификационных кодов</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="physicalPerson" type="tPhysicalPersonSnilsOnly">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Физическое лицо</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="legalPerson" type="tLegalPersonIdCodesOnly">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Юридическое лицо</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:simpleType name="tUuid">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Универсальный уникальный идентификатор (UUID)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tExternalId">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Идентификатор данных в системе поставщика</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="string-50"/>
  </xsd:simpleType>
  <xsd:simpleType name="tParticipantCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код участника в ЕГИССО</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-HJ-NP-Z0-9]{4}\.\d{6}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tOkeiCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код ОКЕИ (4-разрядный или 3-х разрядный, цифровой)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\d{4})|(\d{3})"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tOksmCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код ОКСМ (3-разрядный, цифровой)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="digits-3"/>
  </xsd:simpleType>
  <xsd:simpleType name="tDisabilityGroup">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код группы инвалидности в ЕГИССО</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Значение не указано</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Первая группа</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Вторая группа</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Третья группа</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Категория "ребёнок-инвалид"</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="7">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Инвалидность не установлена</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tFormOfGranting">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Код формы предоставления в ЕГИССО</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="01">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Денежная</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="02">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Натуральная</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="03">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Льгота</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="04">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Услуга</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="05">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Электронный сертификат</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tNeedLevel">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Уровень нуждаемости в соответствии с приказом Минтруда от 29.09.2020 №667</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Первый уровень нуждаемости в постороннем уходе - от одного до нескольких часов несколько раз в неделю</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Второй уровень нуждаемости в постороннем уходе - от одного до нескольких часов ежедневно</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Третий уровень нуждаемости в постороннем уходе - от нескольких часов до 24 часов ежедневно, включая ночные часы</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="tError">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Данные ошибки</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="code" type="string-10" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Код ошибки</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="message" type="string-500">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Текст ошибки</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="time" type="tTimestamp" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Время возникновения ошибки</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tNormativeLegalAct">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Нормативно-правовой акт</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="date" type="tDate">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата принятия нормативно-правового акта</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="number" type="string-20">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Номер нормативно-правового акта</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="string-2000">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Наименование нормативно-правового акта</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!--==========================================  Типы дат и времени  ==========================================-->
  <xsd:simpleType name="tTimestamp">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Дата и время с обязательным указанием часового пояса и с диапазоном дат, которые начинаются с 2000 года </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime">
      <xsd:pattern value="2[0-9][0-9][0-9]-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])T[0-2][0-9]:[0-5][0-9]:[0-5][0-9](\+(0[2-9]|1[0-2]):00|Z)"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tDate2Millennium">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Дата с ограниченным диапазоном значений с 2000 по 2999 год включительно</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
      <xsd:pattern value="2[0-9][0-9][0-9]-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tDate">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Дата с ограниченным диапазоном значений с 1000 по 2999 год включительно</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
      <xsd:pattern value="(1|2)[0-9][0-9][0-9]-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="tDocumentDate">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных даты документа</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="fullDate" type="tDate"/>
      <xsd:element name="incompleteDate" type="tIncompleteDate"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="tIncompleteDate">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип неполной даты</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="dayAbsenceFlag">
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">Признак отсутствия сведений о дне</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="string-1">
              <xsd:enumeration value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="day">
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">Номер дня</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="number-2">
              <xsd:pattern value="(0[1-9]|[12]\d|3[01])"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:choice>
      <xsd:choice>
        <xsd:element name="monthAbsenceFlag">
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">Признак отсутствия сведений о месяце</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="string-1">
              <xsd:enumeration value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="month" type="tMonth">
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">Номер месяца</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element name="year" type="xsd:gYear">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Год</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="tMonth">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Номер месяца</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="number-2">
      <xsd:pattern value="(0[1-9]|1[012])"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--==========================================  Денежные типы  ==========================================-->
  <xsd:simpleType name="tMoneyDot">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Денежный тип с разделителем точкой</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tMoneyComma">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Денежный тип с разделителем запятой</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]+[,]\d{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tMoneyDotOrComma">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Денежный тип с разделителем или точкой, или запятой</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]+[.,]\d{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--==========================================  Простые строковые типы  ==========================================-->
  <xsd:simpleType name="number-2">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Число целое, содержащее до 2 разрядов</xsd:documentation>
      <xsd:documentation xml:lang="ru">Содержит только цифры</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="rus-and-num">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Русский текст. Допускаются также пробелы, цифры, точки, запятые, тире, апострофы, круглые скобки, знак №</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[а-яА-ЯёЁ\-0-9№(][а-яА-ЯёЁ\-\s',.0-9()№&quot;\\/]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="rus-and-num-500">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Русский текст, длиной до 500 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="rus-and-num">
      <xsd:maxLength value="500"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="rus-and-num-200">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Русский текст, длиной до 200 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="rus-and-num">
      <xsd:maxLength value="200"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-2000">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Текст длиной до 2000 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-1500">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Текст длиной до 1500 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1500"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-1000">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Текст длиной до 1000 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-500">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Текст длиной до 500 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="500"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-256">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Текст длиной до 256 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="256"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-200">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Текст длиной до 200 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-100">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Текст длиной до 100 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-50">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Текст длиной до 50 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-20">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Текст длиной до 20 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-10">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Текст длиной до 10 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-8">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Строка длиной ровно 8 символов</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string-1">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Текст длиной ровно 1 символ</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="digits-30">
    <xsd:annotation>
      <xsd:documentation>Строка длиной до тридцати символов, состоящая из цифр</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
      <xsd:pattern value="\d*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="digits-11">
    <xsd:annotation>
      <xsd:documentation>Строка, состоящая из одиннадцати цифр</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="11"/>
      <xsd:pattern value="\d{11}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="digits-8">
    <xsd:annotation>
      <xsd:documentation>Строка, состоящая из восьми цифр</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="8"/>
      <xsd:pattern value="\d{8}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="digits-6">
    <xsd:annotation>
      <xsd:documentation>Строка, состоящая из шести цифр</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="6"/>
      <xsd:pattern value="\d{6}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="digits-5">
    <xsd:annotation>
      <xsd:documentation>Строка, состоящая из пяти цифр</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="5"/>
      <xsd:pattern value="\d{5}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="digits-4">
    <xsd:annotation>
      <xsd:documentation>Строка, состоящая из четырёх цифр</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="4"/>
      <xsd:pattern value="\d{4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="digits-3">
    <xsd:annotation>
      <xsd:documentation>Строка, состоящая из трех цифр</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="3"/>
      <xsd:pattern value="\d{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="digits-2">
    <xsd:annotation>
      <xsd:documentation>Строка, состоящая из двух цифр</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="2"/>
      <xsd:pattern value="\d{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
