schema/schemas/egisso/egisso-basic-types-2.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:smev="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.4"	xmlns="urn://egisso-ru/types/basic/2.0.0" targetNamespace="urn://egisso-ru/types/basic/2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified"	version="1.1">
	<xsd:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.4" schemaLocation="../smev3/smev-supplementary-commons-1.0.4.xsd"/>
	<!--========================================== Типы данных физического лица  ==========================================-->
	<xsd:complexType name="tPhysicalPersonWithoutBirthPlace">
		<xsd:annotation>
			<xsd:documentation>Тип физического лица со всеми обязательными данными кроме места рождения</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="tPhysicalPersonData">
				<xsd:sequence>
					<xsd:element name="snils" type="smev:SNILSType">
						<xsd:annotation>
							<xsd:documentation>Страховой номер индивидуального лицевого счёта</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fio" type="tFio">
						<xsd:annotation>
							<xsd:documentation>ФИО</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="gender" type="tGender">
						<xsd:annotation>
							<xsd:documentation>Пол</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="birthDate" type="xsd:date">
						<xsd:annotation>
							<xsd:documentation>Дата рождения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="birthPlace" type="tAddress" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Место рождения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="citizenshipCode" type="tOksmCode">
						<xsd:annotation>
							<xsd:documentation>Код страны гражданства</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tPhysicalPersonSnilsOnly">
		<xsd:annotation>
			<xsd:documentation>Тип физического лица только со СНИЛС</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="tPhysicalPersonData">
				<xsd:sequence>
					<xsd:element name="snils" type="smev:SNILSType">
						<xsd:annotation>
							<xsd:documentation>Страховой номер индивидуального лицевого счёта</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fio" type="tFio" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation>ФИО</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="gender" type="tGender" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Пол</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="birthDate" type="xsd:date" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата рождения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="birthPlace" type="tAddress" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Место рождения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="citizenshipCode" type="tOksmCode" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Код страны гражданства</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--========================================== Типы, используемые в данных физического лица  ==========================================-->
	<xsd:complexType name="tPhysicalPersonData">
		<xsd:annotation>
			<xsd:documentation>Данные, используемые в типах физического лица</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="snils" type="smev:SNILSType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Страховой номер индивидуального лицевого счёта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fio" type="tFio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ФИО</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gender" type="tGender" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Пол</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="birthDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="birthPlace" type="tAddress" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Место рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="citizenshipCode" type="tOksmCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код страны гражданства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tFio">
		<xsd:annotation>
			<xsd:documentation>Фамилия, имя и отчество</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="surname" type="smev:string-100">
				<xsd:annotation>
					<xsd:documentation>Фамилия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="patronymic" type="smev:string-100" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Отчество</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="forename" type="smev:string-100">
				<xsd:annotation>
					<xsd:documentation>Имя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="tGender">
		<xsd:annotation>
			<xsd:documentation>Пол</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="string-1">
			<xsd:pattern value="[MFU]"/>
			<xsd:enumeration value="M">
				<xsd:annotation>
					<xsd:documentation>Мужской пол</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation>Женский пол</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="U">
				<xsd:annotation>
					<xsd:documentation>Пол неопределен</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tSnils-9">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">СНИЛС (9-ти разрядный) без контрольной суммы</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="9"/>
			<xsd:pattern value="\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--========================================== Типы данных юридического лица  ==========================================-->
	<xsd:complexType name="tLegalPerson">
		<xsd:annotation>
			<xsd:documentation>Тип юридического лица со всеми обязательными данными</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="tLegalPersonData">
				<xsd:sequence>
					<xsd:element name="name" type="string-1000">
						<xsd:annotation>
							<xsd:documentation>Наименование</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="inn" type="smev:LegalPersonINNType">
						<xsd:annotation>
							<xsd:documentation>ИНН</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ogrn" type="smev:OGRNCompanyType">
						<xsd:annotation>
							<xsd:documentation>ОГРН</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tLegalPersonIdCodesOnly">
		<xsd:annotation>
			<xsd:documentation>Тип юридического лица только с идентификационными кодами</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="tLegalPersonData">
				<xsd:sequence>
					<xsd:element name="name" type="string-1000" minOccurs="0" maxOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Наименование</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="inn" type="smev:LegalPersonINNType">
						<xsd:annotation>
							<xsd:documentation>ИНН</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ogrn" type="smev:OGRNCompanyType">
						<xsd:annotation>
							<xsd:documentation>ОГРН</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tInfoProvider">
		<xsd:annotation>
			<xsd:documentation>Тип поставщика информации</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tLegalPerson">
				<xsd:sequence>
					<xsd:element name="codeParticipant" type="tParticipantCode">
						<xsd:annotation>
							<xsd:documentation>Код участника ЕГИССО</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--========================================== Типы, используемые в данных юридического лица  ==========================================-->
	<xsd:complexType name="tLegalPersonData">
		<xsd:annotation>
			<xsd:documentation>Данные, используемые в юридическом лице</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="string-1000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inn" type="smev:LegalPersonINNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ИНН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ogrn" type="smev:OGRNCompanyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ОГРН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--==========================================  Адресные типы  ==========================================-->
	<xsd:complexType name="tAddress">
		<xsd:annotation>
			<xsd:documentation>Выбор вида адреса</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="russianAddressNotResticted" type="tRussianAddressNotRestricted">
				<xsd:annotation>
					<xsd:documentation>Российский адрес без ограничения заполнения элементов адреса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="russianAddresFias" type="tRussianAddressStrictFias">
				<xsd:annotation>
					<xsd:documentation>Российский адрес с обязательным указанием guid ФИАС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="russianAddressOneString" type="tRussianAddressOneString">
				<xsd:annotation>
					<xsd:documentation>Российский адрес одной строкой текстом</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="foreignAddress" type="tForeignAddress">
				<xsd:annotation>
					<xsd:documentation>Иностранный адрес</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="tRussianAddressNotRestricted">
		<xsd:annotation>
			<xsd:documentation>Российский адрес без ограничения заполнения элементов адреса</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="tRussianAddressData">
				<xsd:sequence>
					<xsd:element name="guidFias" type="tUuid" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Глобальный уникальный идентификационный код адресного объекта ФИАС</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="postIndex" type="tRussionPostIndex" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Почтовый индекс</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fullAddress" type="string-2000" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Полный адрес строкой</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="structuredElements" type="tRussianAddressStructuredElements" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Структурированные элементы адреса</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="addressTypeCode" type="tAddressTypeCode"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tRussianAddressStrictFias">
		<xsd:annotation>
			<xsd:documentation>Российский адрес с обязательным указанием guid ФИАС</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="tRussianAddressData">
				<xsd:sequence>
					<xsd:element name="guidFias" type="tUuid">
						<xsd:annotation>
							<xsd:documentation>Глобальный уникальный идентификационный код адресного объекта ФИАС</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="addressTypeCode" type="tAddressTypeCode"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tRussianAddressOneString">
		<xsd:annotation>
			<xsd:documentation>Российский адрес одной строкой текстом</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="tRussianAddressData">
				<xsd:sequence>
					<xsd:element name="guidFias" type="tUuid" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Глобальный уникальный идентификационный код адресного объекта ФИАС</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="postIndex" type="tRussionPostIndex" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Почтовый индекс</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fullAddress" type="string-2000">
						<xsd:annotation>
							<xsd:documentation>Полный адрес строкой</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="structuredElements" type="tRussianAddressStructuredElements" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Структурированные элементы адреса</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="addressTypeCode" type="tAddressTypeCode"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tForeignAddress">
		<xsd:annotation>
			<xsd:documentation>Иностранный адрес</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="postIndex" type="smev:string-10" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Почтовый индекс (код)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="countryCode" type="tOksmCode">
				<xsd:annotation>
					<xsd:documentation>Код страны</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="countryName" type="string-256" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Название страны</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fullAddress" type="string-2000">
				<xsd:annotation>
					<xsd:documentation>Полный адрес строкой</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="addressTypeCode" type="tAddressTypeCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--==========================================  Типы, используемые в адресных данных  ==========================================-->
	<xsd:complexType name="tRussianAddressData">
		<xsd:annotation>
			<xsd:documentation>Данные, используемые в российском адресе</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="guidFias" type="tUuid" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Глобальный уникальный идентификационный код адресного объекта ФИАС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="postIndex" type="tRussionPostIndex" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Почтовый индекс</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fullAddress" type="string-2000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Полный адрес строкой</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="structuredElements" type="tRussianAddressStructuredElements" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Структурированные элементы адреса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="addressTypeCode" type="tAddressTypeCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tRussianAddressStructuredElements">
		<xsd:annotation>
			<xsd:documentation>Структурированные элементы российского адреса</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="region" type="string-256" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Регион</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="district" type="string-256" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Район</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="city" type="string-256" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование города</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cityArea" type="string-256" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Район города</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="locality" type="string-256" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Населенный пункт</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="street" type="string-256" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Улица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="house" type="string-256" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дом</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="building" type="smev:string-10" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Блок, здание, корпус</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flat" type="smev:string-10" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Квартира</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="tRussionPostIndex">
		<xsd:annotation>
			<xsd:documentation>Российский почтовый индекс</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tAddressTypeCode">
		<xsd:annotation>
			<xsd:documentation>Код типа адреса в ЕГИССО</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tOktmoCode11">
		<xsd:annotation>
			<xsd:documentation>Код ОКТМО, включающий муниципальные образования и населенные пункты (11-разрядный, цифровой)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tOktmoCode8">
		<xsd:annotation>
			<xsd:documentation>Код ОКТМО, включающий только муниципальные образования (8-разрядный, цифровой)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--==========================================  Типы документов  ==========================================-->
	<xsd:complexType name="tDefinedDocument">
		<xsd:annotation>
			<xsd:documentation>Идентифицированный вид документа</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="tDocumentData">
				<xsd:sequence>
					<xsd:element name="date" type="tDocumentDate">
						<xsd:annotation>
							<xsd:documentation>Дата документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="number" type="smev:string-50" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Номер документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="codeType" type="tDocumentTypeCode">
						<xsd:annotation>
							<xsd:documentation>Код вида документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="smev:string-500" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Наименование вида документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="effectiveDate" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата вступления документа в силу</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="validityEndDate" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата окончания периода действия документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="series" type="smev:string-20" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Серия документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="issuer" type="smev:string-500">
						<xsd:annotation>
							<xsd:documentation>Наименование организации (органа) выпустившего документ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tDefinedDocumentWithEffectiveDate">
		<xsd:annotation>
			<xsd:documentation>Идентифицированный вид документа с датой вступления в силу</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="tDefinedDocument">
				<xsd:sequence>
					<xsd:element name="date" type="tDocumentDate">
						<xsd:annotation>
							<xsd:documentation>Дата документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="number" type="smev:string-50" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Номер документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="codeType" type="tDocumentTypeCode">
						<xsd:annotation>
							<xsd:documentation>Код вида документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="smev:string-500" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Наименование вида документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="effectiveDate" type="xsd:date">
						<xsd:annotation>
							<xsd:documentation>Дата вступления документа в силу</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="validityEndDate" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата окончания периода действия документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="series" type="smev:string-20" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Серия документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="issuer" type="smev:string-500">
						<xsd:annotation>
							<xsd:documentation>Наименование организации (органа) выпустившего документ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tUndefinedDocument">
		<xsd:annotation>
			<xsd:documentation>Неидентифицированный вид документа</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="tDefinedDocument">
				<xsd:sequence>
					<xsd:element name="date" type="tDocumentDate">
						<xsd:annotation>
							<xsd:documentation>Дата документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="number" type="smev:string-50" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Номер документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="codeType" type="tDocumentTypeCode" fixed="00044">
						<xsd:annotation>
							<xsd:documentation>Код вида документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="smev:string-500">
						<xsd:annotation>
							<xsd:documentation>Наименование вида документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="effectiveDate" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата вступления документа в силу</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="validityEndDate" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата окончания периода действия документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="series" type="smev:string-20" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Серия документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="issuer" type="smev:string-500">
						<xsd:annotation>
							<xsd:documentation>Наименование организации (органа) выпустившего документ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tUndefinedDocumentWithEffectiveDate">
		<xsd:annotation>
			<xsd:documentation>Неидентифицированный вид документа с датой вступления в силу</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="tUndefinedDocument">
				<xsd:sequence>
					<xsd:element name="date" type="tDocumentDate">
						<xsd:annotation>
							<xsd:documentation>Дата документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="number" type="smev:string-50" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Номер документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="codeType" type="tDocumentTypeCode" fixed="00044">
						<xsd:annotation>
							<xsd:documentation>Код вида документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="smev:string-500">
						<xsd:annotation>
							<xsd:documentation>Наименование вида документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="effectiveDate" type="xsd:date">
						<xsd:annotation>
							<xsd:documentation>Дата вступления документа в силу</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="validityEndDate" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Дата окончания периода действия документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="series" type="smev:string-20" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Серия документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="issuer" type="smev:string-500">
						<xsd:annotation>
							<xsd:documentation>Наименование организации (органа) выпустившего документ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--==========================================  Типы, используемые типах документов  ==========================================-->
	<xsd:complexType name="tDocumentData">
		<xsd:annotation>
			<xsd:documentation>Тип данных документа</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="date" type="tDocumentDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="number" type="smev:string-50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codeType" type="tDocumentTypeCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код вида документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="smev:string-500" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование вида документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="effectiveDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата вступления документа в силу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validityEndDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата окончания периода действия документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="series" type="smev:string-20" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Серия документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="issuer" type="smev:string-500">
				<xsd:annotation>
					<xsd:documentation>Наименование организации (органа) выпустившего документ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="tDocumentTypeCode">
		<xsd:annotation>
			<xsd:documentation>Код вида документа в ЕГИССО</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="5"/>
			<xsd:pattern value="\d{5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--==========================================  Типы классификатора ЕГИССО  ==========================================-->
	<xsd:simpleType name="tClsCode">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Код общесистемного классификатора/справочника</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="tClsVersion">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Версия классификатора</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="versionNum" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">Номер версии</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="versionStatus" type="tVersionStatus">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">Статус версии</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="startDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">Дата начала действия версии</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="finishDate" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">Дата окончания действия версии</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="document" type="smev:string-200">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">Документ-основание ввода в действие</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="note" type="smev:string-200" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">Комментарий</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="tVersionStatus">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Код статуса версии общесистемного классификатора/справочника</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger"/>
	</xsd:simpleType>
	<!--========================================== Прочие логические типы  ==========================================-->
	<xsd:complexType name="tPersonIdCodesOnly">
		<xsd:annotation>
			<xsd:documentation>Тип выбора из физического или юридического лица только с данными идентификационных кодов</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="physicalPerson" type="tPhysicalPersonSnilsOnly">
				<xsd:annotation>
					<xsd:documentation>Физическое лицо</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="legalPerson" type="tLegalPersonIdCodesOnly">
				<xsd:annotation>
					<xsd:documentation>Юридическое лицо</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="tUuid">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Универсальный уникальный идентификатор (UUID)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tExternalId">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Идентификатор данных в системе поставщика</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="smev:string-50"/>
	</xsd:simpleType>
	<xsd:simpleType name="tParticipantCode">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Код участника в ЕГИССО</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-HJ-NP-Z0-9]{4}\.\d{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tOkeiCode">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Код ОКЕИ (4-разрядный или 3-х разрядный, цифровой)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(\d{4})|(\d{3})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tOksmCode">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Код ОКСМ (3-разрядный, цифровой)</xsd:documentation>
			<xsd:documentation>Содержит только цифры</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
			<xsd:pattern value="\d{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tDisabilityGroup">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Код группы инвалидности в ЕГИССО</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Значение не указано
          </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Первая группа
          </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Вторая группа
          </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Третья группа
          </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Категория "ребёнок-инвалид"
          </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="7">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Инвалидность не установлена
          </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tFormOfGranting">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Код формы предоставления в ЕГИССО</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="01">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Денежная
          </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="02">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Натуральная
          </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="03">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Льгота
          </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="04">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
            Услуга
          </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="tError">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Данные ошибки</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="code" type="smev:string-10" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">Код ошибки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="message" type="smev:string-500">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">Текст ошибки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="time" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">Время возникновения ошибки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--==========================================  Типы дат и времени  ==========================================-->
	<xsd:simpleType name="tTimestamp">
		<xsd:annotation>
			<xsd:documentation>Дата и время с обязательным указанием часового пояса и с диапазоном дат, которые начинаются с 2000 года </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="2[0-9][0-9][0-9]-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])T[0-2][0-9]:[0-5][0-9]:[0-5][0-9](\+(0[2-9]|1[0-2]):00|Z)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tDate2Millennium">
		<xsd:annotation>
			<xsd:documentation>Дата с ограниченным диапазоном значений с 2000 по 2999 год включительно</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="2[0-9][0-9][0-9]-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tDate">
		<xsd:annotation>
			<xsd:documentation>Дата с ограниченным диапазоном значений с 1000 по 2999 год включительно</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="(1|2)[0-9][0-9][0-9]-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="tDocumentDate">
		<xsd:annotation>
			<xsd:documentation>Тип данных даты документа</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="fullDate" type="tDate"/>
			<xsd:element name="incompleteDate" type="tIncompleteDate"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="tIncompleteDate">
		<xsd:annotation>
			<xsd:documentation>Тип неполной даты</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="dayAbsenceFlag">
					<xsd:annotation>
						<xsd:documentation>Признак отсутствия сведений о дне</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="string-1">
							<xsd:enumeration value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="day">
					<xsd:annotation>
						<xsd:documentation>Номер дня</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="number-2">
							<xsd:pattern value="(0[1-9]|[12]\d|3[01])"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:element name="monthAbsenceFlag">
					<xsd:annotation>
						<xsd:documentation>Признак отсутствия сведений о месяце</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="string-1">
							<xsd:enumeration value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="month">
					<xsd:annotation>
						<xsd:documentation>Номер месяца</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="number-2">
							<xsd:pattern value="(0[1-9]|1[012])"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="year" type="xsd:gYear">
				<xsd:annotation>
					<xsd:documentation>Год</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--==========================================  Денежные типы  ==========================================-->
	<xsd:simpleType name="tMoneyDot">
		<xsd:annotation>
			<xsd:documentation>Денежный тип с разделителем точкой</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tMoneyComma">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Денежный тип с разделителем запятой</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]+[,]\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tMoneyDotOrComma">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Денежный тип с разделителем или точкой, или запятой</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]+[.,]\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--==========================================  Простые числовые типы  ==========================================-->
	<xsd:simpleType name="number-2">
		<xsd:annotation>
			<xsd:documentation>Число целое, содержащее до 2 разрядов</xsd:documentation>
			<xsd:documentation>Содержит только цифры</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--==========================================  Простые строковые типы  ==========================================-->
	<xsd:simpleType name="rus-and-num">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Русский текст. Допускаются также пробелы, цифры, точки, запятые, тире, апострофы, круглые скобки, знак №</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[а-яА-ЯёЁ\-0-9№(][а-яА-ЯёЁ\-\s',.0-9()№&quot;\\/]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="rus-and-num-500">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Русский текст, длиной до 500 символов</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="rus-and-num">
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="rus-and-num-200">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Русский текст, длиной до 200 символов</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="rus-and-num">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-2000">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Текст длиной до 2000 символов</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-1500">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Текст длиной до 1500 символов</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-1000">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Текст длиной до 1000 символов</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-500">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Текст длиной до 500 символов</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-256">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Текст длиной до 256 символов</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-50">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">Текст длиной до 50 символов</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-1">
		<xsd:annotation>
			<xsd:documentation>Текст длиной ровно 1 символ</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>