schema/schemas/egisso/local-MSZ-1.0.6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:egisso="urn://egisso-ru/types/basic/1.0.6"
    xmlns:smev="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1"
    xmlns="urn://egisso-ru/types/local-MSZ/1.0.6"
    targetNamespace="urn://egisso-ru/types/local-MSZ/1.0.6"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
>

  <!--
  ****************************************************************************************************
  Тип данных: локальная МСЗ
  ****************************************************************************************************
  -->

  <xsd:import namespace="urn://egisso-ru/types/basic/1.0.6" schemaLocation="egisso-basic-types-1.0.6.xsd"/>
  <xsd:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1"
              schemaLocation="../smev3/smev-supplementary-commons-1.0.1.xsd"/>

  <xsd:element name="localMSZ" type="tLocalMSZ">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Локальная МСЗ
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="tLocalMSZ">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: локальная МСЗ
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="egisso:UUID">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Идентификатор
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="code" type="smev:string-20" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="title">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Наименование
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="dateEnact" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Начало действия
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dateExpiration" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Окончание действия
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="periodicityCode" type="smev:digits-2">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код периодичности предоставления
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="classificationKMSZ">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Классификация ЛМСЗ по КМСЗ
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="codePartKMSZ" type="smev:digits-6">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Код раздела КМСЗ
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="codeMSZ" type="smev:digits-4">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Код МСЗ
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="codeProvisionForm" type="smev:digits-2">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Код формы предоставления
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="codeLevelNPA" type="smev:digits-2">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Код уровня НПА
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="localCategories">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Категории получателей
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="localCategory" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Категория
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="ID" type="egisso:UUID">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">
                              Идентификатор
                            </xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="code" type="smev:string-20" minOccurs="0">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">
                              Код
                            </xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="title">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">
                              Наименование
                            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="2000"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="codeCategoryKMSZ">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">
                              Код типовой категории КМСЗ
                            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:pattern value="\d{8}"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="needsCriteria" type="tNeedsCriteria" minOccurs="0"
                                     maxOccurs="unbounded">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">
                              Критерии нуждаемости
                            </xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="cofinancing">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Сведения о софинансировании ЛМСЗ
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="fundingSource" minOccurs="1" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Софинансирование ЛМСЗ
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="codeFundingSource" type="smev:digits-4">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">
                              Код источника финансирования
                            </xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="quota">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">
                              Доля финансирования в процентах
                            </xsd:documentation>
                          </xsd:annotation>
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:minExclusive value="0"/>
                              <xsd:maxInclusive value="100"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="estimation" type="smev:string-500" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Расчетная сумма (Правила расчета)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="territories">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Территории предоставления ЛМСЗ
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="codeOKTMO" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Код территории по ОКТМО
                </xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="\d{8}"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reasons">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Основания для внесения ЛМСЗ
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NPA" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  НПА
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="number" type="smev:string-20">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Номер НПА
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="date" type="xsd:date">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Дата принятия НПА
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="title" type="smev:string-500">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Наименование НПА
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="authority" type="smev:string-500">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Орган принявший НПА
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="URL">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Ссылка
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="KBKCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            КБК
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="\S{20}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="cases" type="smev:string-500">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Основание
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="conditions" type="smev:string-500">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Условия
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="methods" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Способ обращения за получением ЛМСЗ(П)
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="method" type="smev:digits-2">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Код способа обращения
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="url" type="smev:string-500" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  URL адрес на предоставляемую услугу на сайте ЕПГУ/РПГУ или сайт ведомства
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="formReq" type="tFormAppeal" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Наименование формы обращения за получением ЛМСЗ(П)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="formRecieve" type="tFormReceipt" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Наименование формы получения результата ЛМСЗ(П)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="docTypesList" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Перечень типов документов
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="documentTypeName" type="smev:string-500">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Наименование типа документа
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="documentOrigin">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Подлинность
                </xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="8"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="documentQ" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Количество экземпляров
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="documentNess" type="xsd:boolean">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Признак обязательности предоставление документа
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="documentComment" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Примечание. Указывается источник получения документа, цель предоставления документа, альтернативные
                  документы, условия предоставления.
                </xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="stepsForMSZ" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Порядок получения МСЗ
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="stepNumber" type="xsd:int">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Номер шага
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="stepH" type="smev:string-50">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Краткое описание действия
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="stepDescr">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Подробное описание действия которое необходимо совершить на данном шаге
                </xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="famSign" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Признак семейной меры.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:enumeration value="1">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  1: семейная мера
                </xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="2">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  2: мера по домохозяйствам
                </xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tNeedsCriteria">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: критерий нуждаемости
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="needsCriteriaCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код критерия нуждаемости
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{1,10}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="needsCriteriaDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата установления критерия
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="needsCriteriaCoefficient" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Коэффициент величины критерия
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:pattern value="[0-9]([.]\d{1})?"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="tFormAppeal">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Наименование формы обращения за получением ЛМСЗ(П)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            1: бумажная
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            2: электронная
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tFormReceipt">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Наименование формы получения результата ЛМСЗ(П)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            1: бумажная
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            2: электронная
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            3: решение
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
