schema/schemas/egisso/order-request-1.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:egisso="urn://egisso-ru/types/basic/2.1.0"
			xmlns:smev = "urn://x-artefacts-smev-gov-ru/supplementary/commons/1.2"
			xmlns:prsn = "urn://egisso-ru/types/prsn-info/2.0.0"
			xmlns="urn://egisso-ru/types/order-request/1.0.0"
			targetNamespace="urn://egisso-ru/types/order-request/1.0.0"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">

	<xsd:annotation>
		<xsd:documentation xml:lang="ru">
			Тип данных: Информационное взаимодействие с ЕПГУ при подаче заявления о предоставлении социальных услуг в
			организациях социального обслуживания субъекта Российской Федерации
		</xsd:documentation>
	</xsd:annotation>

	<xsd:import namespace="urn://egisso-ru/types/basic/2.1.0"
				schemaLocation="../egisso/egisso-basic-types-2.1.0.xsd"/>
	<xsd:import namespace="urn://egisso-ru/types/prsn-info/2.0.0"
				schemaLocation="prsn-info-2.0.0.xsd"/>
  <xsd:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.2"
        schemaLocation="../commons/smev-supplementary-commons-1.2.xsd"/>

	<xsd:complexType name="tOrderRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="ru">
				Заявление о предоставлении социальных услуг
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="orderUuid" type="egisso:tUuid">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
						Уникальный идентификатор заявления
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="recipient">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
						Данные гражданина
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="snils" type="smev:SNILSType">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									СНИЛС
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="fio" type="egisso:tFio">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									ФИО
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="birthDate" type="egisso:tDate">
							<xsd:annotation>
								<xsd:documentation>
									Дата рождения
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="birthPlace" type="egisso:string-500">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Место рождения
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="gender" type="egisso:tDefinedGender">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Пол
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="citizenship" type="egisso:tOksmCode">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Гражданство
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="identityDoc">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									ДУЛ гражданина
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:annotation>
									<xsd:documentation xml:lang="ru">
										Документ удостоверяющий личность
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexContent>
									<xsd:extension base="prsn:tDoc">
										<xsd:sequence>
											<xsd:element name="issuerCode" type="egisso:string-50" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation xml:lang="ru">
														Код подразделения выдавшего документ
													</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="residenceRegistrationAddress" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Адрес постоянной регистрации
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:annotation>
									<xsd:documentation xml:lang="ru">
										Адрес постоянной регистрации
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexContent>
									<xsd:extension base="egisso:tRussianAddressNotRestricted">
										<xsd:sequence>
											<xsd:element name="residenceRegistrationAddressOktmo" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation xml:lang="ru">
														Выбор кода территории по ОКТМО адреса постоянной регистрации
													</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:choice>
														<xsd:element name="residenceRegistrationAddressOktmo11" type="egisso:tOktmoCode11">
															<xsd:annotation>
																<xsd:documentation xml:lang="ru">
																	ОКТМО - 11
																</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="residenceRegistrationAddressOktmo8" type="egisso:tOktmoCode8">
															<xsd:annotation>
																<xsd:documentation xml:lang="ru">
																	ОКТМО - 8
																</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
													</xsd:choice>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="country" type="egisso:tOksmCode" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation xml:lang="ru">
														Страна адреса места работы
													</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="factAddress">
							<xsd:annotation>
								<xsd:documentation>
									Адрес проживания
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:annotation>
									<xsd:documentation xml:lang="ru">
										Адрес проживания
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexContent>
									<xsd:extension base="egisso:tRussianAddressNotRestricted">
										<xsd:sequence>
											<xsd:element name="factAddressOktmo" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation xml:lang="ru">
														Выбор кода территории по ОКТМО адреса проживания
													</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:choice>
														<xsd:element name="factAddressOktmo11" type="egisso:tOktmoCode11">
															<xsd:annotation>
																<xsd:documentation xml:lang="ru">
																	ОКТМО - 11
																</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="factAddressOktmo8" type="egisso:tOktmoCode8">
															<xsd:annotation>
																<xsd:documentation xml:lang="ru">
																	ОКТМО - 8
																</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
													</xsd:choice>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="country" type="egisso:tOksmCode" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation xml:lang="ru">
														Страна адреса места работы
													</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="phoneNumber" type="smev:PhoneNumberRFType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Телефон
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="emailAddress" type="smev:EmailAddressType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Адрес электронной почты (e-mail)
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="workAddress" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									Адрес места работы
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:annotation>
									<xsd:documentation xml:lang="ru">
										Адрес места работы
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexContent>
									<xsd:extension base="egisso:tRussianAddressNotRestricted">
										<xsd:sequence>
											<xsd:element name="country" type="egisso:tOksmCode" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation xml:lang="ru">
														Страна адреса места работы
													</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="workName" type="egisso:string-100" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Наименование места работы
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="workPhoneNumber" type="smev:PhoneNumberRFType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Телефон места работы
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="familyContact" type="egisso:string-200" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Реквизиты родственника
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="request">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
						Заявление
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="osznName" type="egisso:string-200" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Наименование ОСЗН в который подается заявление
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="orderNumber" type="egisso:string-20">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Номер заявления
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="orderDate" type="egisso:tDate2Millennium">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Дата подачи заявления
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="livingConditions">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
						Условия жизни
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="livingDeclineReason" type="egisso:string-500" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Обстоятельства ухудшающие условия жизнедеятельности
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lifeState" type="egisso:string-500" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Условия проживания
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="familyState" type="egisso:string-500" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Состав семьи
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="economicState" type="egisso:string-200" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Сведения о доходе
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="wishful">
				<xsd:annotation>
					<xsd:documentation xml:lang="ru">
						Желаемые услуги
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="wishfulCareForm" type="egisso:string-200" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Форма соц обслуживания
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="wishfulProviders" type="egisso:string-500" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Желаемые поставщики услуг
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="wishfulService" type="egisso:string-1500" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Желаемый список социальных услуг
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="wishfulPeriod" type="egisso:string-20" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="ru">
									Периодичность представления
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
