schema/schemas/egisso/organization-1.0.4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:egisso="urn://egisso-ru/types/basic/1.0.5"
  xmlns:smev="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1"
  xmlns="urn://egisso-ru/types/organization/1.0.4"
  targetNamespace="urn://egisso-ru/types/organization/1.0.4"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
>

  <!--
  ****************************************************************************************************
  Тип данных: ЭЛЕМЕНТ РЕЕСТРА ОРГАНИЗАЦИЙ
  ****************************************************************************************************
  -->

  <xsd:import namespace="urn://egisso-ru/types/basic/1.0.5" schemaLocation="egisso-basic-types-1.0.5.xsd" />
  <xsd:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" schemaLocation="../smev3/smev-supplementary-commons-1.0.1.xsd" />

  <xsd:element name="organization" type="tOrganization">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Элемент реестра организаций
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="tOrganization">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: Элемент реестра организаций
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="organizationId" type="egisso:UUID">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Идентификатор организации
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="title" type="egisso:string-1000">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Наименование организации
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="siteUrl" type="egisso:string-1000" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            URL сайта организации
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="address" type="smev:string-500">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Фактический адрес
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="email" type="smev:EmailAddressType">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Электронная почта
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="contacts" type="smev:string-500">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Официальные контакты организации (номера телефонов)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:choice>
        <xsd:element name="legalPerson">
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">
              Данные по организации: ЮЛ
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="inn" type="smev:LegalPersonINNType">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    ИНН
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="kpp" type="smev:KPPType">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    КПП
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ogrn" type="smev:OGRNCompanyType">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    ОГРН
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:choice>
                <xsd:element name="usrleDocument">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="ru">
                      Лист записи ЕГРЮЛ
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="grn">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Номер ГРН
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:length value="13"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="issueDate" type="xsd:date">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Дата выдачи
                          </xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="authority" type="smev:string-500">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Кем выдан
                          </xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="legalEntityDocument">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="ru">
                      Свидетельство о регистрации ЮЛ
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="series">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Серия свидетельства
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="number">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Номер свидетельства
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="9"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="grn">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Номер ГРН
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:length value="13"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="issueDate" type="xsd:date">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Дата выдачи
                          </xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="authority" type="smev:string-500">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Кем выдан
                          </xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="individualBusinessman">
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">
              Данные по организации: ИП
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="inn" type="smev:PhysicalPersonINNType">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    ИНН
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ogrnip" type="smev:OGRNSoleProprietorType">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    ОГРНИП
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:choice>
                <xsd:element name="usrieDocument">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="ru">
                      Лист записи ЕГРИП
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="grnip">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Номер ГРНИП
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:length value="15"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="issueDate" type="xsd:date">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Дата выдачи
                          </xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="authority" type="smev:string-500">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Кем выдан
                          </xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="individualEntrepreneurDocument">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="ru">
                      Свидетельство о регистрации ИП
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="series">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Серия свидетельства
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="2"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="number">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Номер свидетельства
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="9"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="grnip">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Номер ГРНИП
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:length value="15"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="issueDate" type="xsd:date">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Дата выдачи
                          </xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="authority" type="smev:string-500">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Кем выдан
                          </xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>

      <xsd:element name="presencePoint" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Точка присутствия
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="title" type="egisso:string-1000">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Наименование
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="address" type="smev:string-500">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Адрес точки присутствия
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="email" type="smev:EmailAddressType" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Электронная почта точки присутствия
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="contacts" type="smev:string-500" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Официальные контакты точки присутствия (номера телефонов)
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="note" type="egisso:string-1000" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Описание
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="schedule" type="smev:string-500" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Время работы
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="point" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Координаты
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="latitude" type="xsd:double">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Широта точки, в десятичных долях градуса
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="longitude" type="xsd:double">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Долгота точки, в десятичных долях градуса
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="pointMsz" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  ЛМСЗ, предоставляемая в данной точке присутствия
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="localMsz" type="egisso:UUID">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Идентификатор предоставляемой МСЗ
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="beginDate" type="xsd:date">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Срок предоставления с
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="endDate" type="xsd:date" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Срок предоставления по
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="document" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Документ-основание предоставления МСЗ
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="title" type="egisso:string-1000">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Наименование документа
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="number" type="smev:string-100" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Номер документа
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="contractor" type="smev:string-500">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Наименование ОГВ, утвердившего документ-основание
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
