schema/schemas/egisso/prsn-statement-2.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:egisso="urn://egisso-ru/types/basic/2.2.0" xmlns="urn://egisso-ru/types/prsn-statement/2.0.0" targetNamespace="urn://egisso-ru/types/prsn-statement/2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation xml:lang="ru">Тип данных: Выписка по СНИЛС</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="urn://egisso-ru/types/basic/2.2.0" schemaLocation="egisso-basic-types-2.2.0.xsd"/>
  <xsd:element name="statementData" type="tStatementData">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Данные выписки</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="tStatementData">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Данные выписки</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="person" type="egisso:tPhysicalPersonSnilsOnly">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">СНИЛС гражданина</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assignments" type="tAssignmentData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Сведения о фактах назначения</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="obligations" type="tObligationData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Сведения о бюджетных обязательствах для указанного СНИЛС</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assignees" type="tAssigneeData" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Сведения о выплатах, полученных в качестве правопреемника</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="incomes" type="tIncomes" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Сведения о доходах</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="disability" type="tDisability" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Сведения об инвалидности</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="experience" type="tExperience" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Сведения о стаже</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="job" type="tJob" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Сведения о факте работы</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tAssignmentData">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Сведения о фактах назначения</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="assignment" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Сведения о факте назначения</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="person" type="egisso:tPhysicalPersonWithNameAndBirthDate">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">СНИЛС получателя МСЗ</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="reasonPersons" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Сведения о лицах, являющихся основанием для назначения меры</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="reasonPerson" type="egisso:tPhysicalPersonWithNameAndBirthDate" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">Сведения о лице, являющимся основанием для назначения меры</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="kmszCode" type="egisso:tKmszCode">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Код по КМСЗ</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="oszTitle" type="egisso:string-500">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Наименование ОНМСЗ, осуществившего назначение МСЗ</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="oszCode" type="egisso:tParticipantCode">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Код ОНМСЗ, осуществившего назначение МСЗ</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="lmszTitle" type="egisso:string-2000">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Наименование назначенной МСЗ</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="categoryTitle" type="egisso:string-2000">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Наименование присвоенной локальной категории</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="decisionDate" type="egisso:tDate">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Дата принятия решения о назначении</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="dateStart" type="egisso:tDate">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Дата начала действия назначения</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="dateFinish" type="egisso:tDate" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Дата окончания действия назначения</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="form" type="egisso:tFormOfGranting">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Форма предоставления</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="periodicity" type="egisso:digits-2">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Код периодичности предоставления</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="amount" type="egisso:tMoneyDot">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Размер назначения</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="measureUnit" type="egisso:digits-2">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Код единицы измерения размера назначения</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="egisso:string-2000" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Комментарий</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="egisso:string-2000" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Содержание назначения</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="needCriterion" type="xsd:boolean">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Признак использования критериев нуждаемости</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="criteria" type="egisso:string-2000" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Текстовое описание критериев нуждаемости</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="rightsDocuments" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Документы, дающие право на реализацию меры</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="document" type="egisso:tDefinedDocumentWithEffectiveDate" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">Документ</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="npaList" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Список нормативно-правовых актов назначенной меры</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="npa" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">Нормативно-правовой акт назначенной меры</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="npaDate" type="egisso:tDate">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">Дата принятия нормативно-правового акта</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="npaNumber" type="egisso:string-20">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">Номер нормативно-правового акта</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="npaName" type="egisso:string-2000">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">Наименование нормативно-правового акта</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tObligationData">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Сведения о бюджетных обязательствах для указанного СНИЛС</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="obligation" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">Сведения о бюджетных обязательствах для указанного СНИЛС</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="kmszCode" type="egisso:tKmszCode">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Код по КМСЗ</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="oszTitle" type="egisso:string-500">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Наименование ОСЗ, осуществившего назначение МСЗ</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="lmszTitle" type="egisso:string-2000">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Наименование назначенной ЛМСЗ</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="categoryTitle" type="egisso:string-2000">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Наименование присвоенной локальной категории</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="decisionDate" type="egisso:tDate">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Дата принятия решения о назначении</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="dateStart" type="egisso:tDate">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Дата начала действия назначения</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="dateFinish" type="egisso:tDate" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Дата окончания действия назначения</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="periodicity" type="egisso:digits-2">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Код периодичности предоставления</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="amount" type="egisso:tMoneyDot">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Обязательство по назначенной выплате</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="payments" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Обязательства по месяцам</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="payment" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">Обязательство</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="year" type="xsd:gYear">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">Год</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="month" type="egisso:tMonth">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">Месяц</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="amount" type="egisso:tMoneyDot">
                          <xsd:annotation>
                            <xsd:documentation xml:lang="ru">Сумма обязательств в указанный месяц</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tAssigneeData">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Сведения о выплатах, полученных в качестве правопреемника</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="assignee" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">Сведения о выплате, полученной в качестве правопреемника</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="person" type="egisso:tSnils-9">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">СНИЛС умершего лица</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="decisionNumber" type="egisso:string-20">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Номер решения</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="decisionDate" type="egisso:tDate">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Дата решения о выплате</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="assignAmount" type="egisso:tMoneyDot">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Сумма выплаты</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tIncomes">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Сведения о доходах</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="monthIncome" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">Сведения о доходах по месяцам в указанный период</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="year" type="xsd:gYear">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Год</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="month" type="egisso:tMonth">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Месяц</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="organization" type="egisso:string-2000">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Наименование организации</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="amount" type="egisso:tMoneyDot">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Сумма выплат и иных вознаграждений за месяц</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="insureDeposit" type="egisso:tMoneyDot">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Из них сумма выплат и иных вознаграждений, на которые были начислены страховые взносы</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="amount" type="egisso:tMoneyDot">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Итоговая сумма выплат и иных вознаграждений за период</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="insureDeposit" type="egisso:tMoneyDot">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Из них итоговая сумма выплат и иных вознаграждений, на которые были начислены страховые взносы</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tDisability">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Сведения об инвалидности</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="registrationDate" type="egisso:tDate">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата регистрации</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beginDate" type="egisso:tDate">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата установления инвалидности</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endDate" type="egisso:tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата окончания инвалидности</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="actNumber" type="egisso:string-200">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Номер акта МСЭ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="actDate" type="egisso:tDate">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата акта МСЭ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inspectionDate" type="egisso:tDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дата очередного освидетельствования</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="disabilityGroup" type="egisso:tDisabilityGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Группа инвалидности</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="disabilityReason" type="egisso:string-500" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Наименование причины инвалидности</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tExperience">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Сведения о стаже</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="year" type="xsd:nonNegativeInteger">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Лет стажа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="month" type="xsd:nonNegativeInteger">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Месяцев стажа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="day" type="xsd:nonNegativeInteger">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">Дней стажа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tJob">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">Тип данных: Сведения о факте работы</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="jobPeriod" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">Сведения о факте работы</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="year" type="xsd:gYear">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Год</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="month" type="egisso:tMonth">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Месяц</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="egisso:string-50">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">Признак работы</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
